{    "index_patterns": "labels-*",    "settings" : {        "number_of_shards" : 1,        "refresh_interval" : "1s",        "number_of_replicas" : 1,        "store.type": "fs"    },    "aliases" : {        "alias_labels" : {}    },    "mappings": {      "article": {        "properties": {          "name": {            "type": "text",            "copy_to": "search_fields",            "fielddata": true          },          "description": {            "type": "text",            "copy_to": "search_fields"          },          "zone": {            "type": "text",            "copy_to": "search_fields",            "fields": {              "keyword": {                "type": "keyword",                "ignore_above": 256              }            }          },          "search_fields": {            "type": "text"          }        }      }    }}